html {
  user-select: none;
}

body {
  font-size: 16px;
  line-height: 18px;
  text-shadow: 1px 1px #bdbdbd;
}

h1 {
  line-height: 38.4px;
  font-size: 32px;
}

h2 {
  font-family: Corinthia, serif;
  font-size: 3.125rem;
  text-align: center;
}

p {
  margin-right: 120px;;
}

.set {
  transform: translateX(150%);
}

img {
  position: relative;
  padding: 15px 18px;
  float: left;
  text-align: left;
}

.slide {
  background: #eee;
  padding: 80px;
  overflow: hidden;
  align-items: center;
  height: 275px;
  width: 650px;
  font-size: 16px;
  position: relative;
  margin: auto;
}

.rightSlide,
.leftSlide,
.middleSlide {
  transition-duration: .55s;
  transition-timing-function: cubic-bezier(.19, .9, .61, .1);
}

.rightSlide {
  transform: translateX(150%);
}

.leftSlide {
  transform: translateX(-150%);
}

.middleSlide {
  transform: translateX(0%);
}

.original-image,
.red,
.green,
.blue,
.black {
  position: absolute;
}

.left,
.right {
  position: absolute;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
